{% extends "app/base.html" %}
{% load static %}

{% block content %}

<section class="elenco">
    
    <h1>PERSONAGENS PRINCIPAIS</h1>
    
    <div class="cards">
    {% for personagem in elenco %}
        <div class="card">
            <h5>Nome: {{personagem.nome}}</h5>
            <h5>Idade: {{personagem.idade}}</h5>
            <h5>Função: {{personagem.funcao}}</h5>
            <h5>Local de nascimento: {{personagem.local_nasc}}</h5>
        </div>
    {% endfor %}
    </div>
</section>

{% endblock %}