{% extends "app/base.html" %}
{% load static %}

{% block content %}

<section class="elenco">
    <h1>PERSONAGENS PRINCIPAIS</h1>
    <div class="cards">
        <div class="card">
            <img scr="{% static 'app/assents/img/elena.jpg' %}" alt="">
            <h2>Elena Gilbert</h2>
            <p>Descrição do personagem</p>
        </div>

        <div class="card">
            <img scr="{% static 'app/assents/img/damon.jpg' %}" alt="">
            <h2>Damon Salvatore</h2>
            <p>Descrição do personagem</p>
        </div>

    </div>
</section>

{% endblock %}