{% extends "app/base.html" %}
{% load static %}

{% block content %}

<section class="elenco">
    
    <h1>PERSONAGENS PRINCIPAIS</h1>
    
    <div class="cards">
    {% for personagem in personagens %}
        <div class="card">
            <img src="{% static 'app/assets/img/'%}{{ personagem.foto }}" alt="{{personagem.nome}}">
            <h2>{{personagem.nome}}</h2>
            <h5>Idade: {{personagem.idade}}</h5>
            <h5>Função: {{personagem.função}}</h5>
            <h5>Local de nascimento: {{personagem.local_nasc}}</h5>
        </div>
    {% endfor %}
    </div>
</section>

{% endblock %}