{% extends "app/base.html" %}
{% load static %}

{% block content %}

    <section class="sobre-container">
        {% for info in informacoes %}
            <div class="resumo">
                <h2>{{info.titulo_resumo}}</h2>
                <p>{{info.resumo}}</p>
                </br>
                <h2>{{info.titulo_sobre}}</h2>
                <p>{{info.sobre}}</p>
            </div>

            <div class="imagem">
                <img src="{% static 'app/assets/img/'%}{{ info.imagem }}" alt="The Vampire Diaries">
            </div>

            <div class="autores">
                <h1>{{info.titulo_autores}}</h1>
                <p>{{info.autores}}</p>
            </div>
        {% endfor %}
    </section>

{% endblock %}